<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
	<configSections>
 </configSections>
 <appSettings>
    
    <add key="BASE_URL" value="http://localhost:27727/" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="MenuRelatorios" value="4" />
    <add key="MenuGraficos" value="5" />
    <add key="MenuAdmin" value="6" />
    <add key="RoleAdminName" value="Administrador" />
    <add key="ApplicationID" value="D203FD09-1705-4CE3-80CA-CA16A6841096" />
    <add key="RoleID" value="B87E9E00-F90D-448E-AE30-0B7C0EC2DB21" />
    <!--Menus-->
    <add key="simulacao" value="administrador|comercial" />
    <add key="cliente" value="administrador|comercial" />
    <add key="apolice" value="administrador|comercial" />
    <add key="tesouraria" value="administrador|tesouraria" />
    <add key="sinistro" value="" />
    <add key="arquivo" value="administrador|comercial"  />
    <add key="parametros" value="administrador"  />
  </appSettings>
  <connectionStrings>
    <add name="DBConnectionString" connectionString="Data Source=Adrian;Initial Catalog=MDB11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DBConnectionString1" connectionString="Data Source=Adrian;Initial Catalog=MDB11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MASTERSEGUROS.WEB.Properties.Settings.Conexao" connectionString="Data Source=Adrian;Initial Catalog=MDB11;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
    <!--<machineKey decryption="AES" decryptionKey="2534E1DA93CCB04E78114BE3583FDF933359F7CE3FD12B767264F5BE068003A1" validation="HMACSHA256" validationKey="165CF28CFA4CE82E9ADC2567C434F04E95411C4CF7BFC9F67540D4365D93A717D6BE0AA22A665179086275320CECDDE66C7FF25585CE190F09556F30DCE98838" />-->
    <globalization  uiCulture="pt-PT" culture="pt-PT"/>
		<httpHandlers>
  
  </httpHandlers>
  <customErrors mode="Off"/>
		<pages maintainScrollPositionOnPostBack="true"  enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <controls>
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

     <add assembly="OfficeWebUI" namespace="OfficeWebUI" tagPrefix="OfficeWebUI"/>
     <add assembly="OfficeWebUI" namespace="OfficeWebUI.Ribbon" tagPrefix="OfficeWebUI"/>
     <add assembly="OfficeWebUI" namespace="OfficeWebUI.ListView" tagPrefix="OfficeWebUI"/>
     <add assembly="OfficeWebUI" namespace="OfficeWebUI.Workspace" tagPrefix="OfficeWebUI"/>
     <add assembly="OfficeWebUI" namespace="OfficeWebUI.Button" tagPrefix="OfficeWebUI"/>
   </controls>
  </pages>

   
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx"  defaultUrl="/default.aspx" timeout="2880"/>
    
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DBConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="DBConnectionString" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
   <providers>
    <clear />
    <add connectionStringName="DBConnectionString" applicationName="/"
     name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
     type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
	</system.web>
	<system.webServer>
  <modules runAllManagedModulesForAllRequests="true" />
  <!--<handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>-->
 </system.webServer>
</configuration>
